<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance" 
   xmlns:aop = "http://www.springframework.org/schema/aop"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
   http://www.springframework.org/schema/aop 
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">
 
 
    <aop:aspectj-autoproxy />

<bean name = "customer" class ="com.mphasis.model.Customer">
	<!-- <property name="name" value="I am a Customer"></property> -->
</bean>

<bean name="employee" class="com.mphasis.model.Employee">
	 <!-- <property name="name" value="I am a Employee"></property>  -->
</bean>

<bean name = "service" class = "com.mphasis.service.PeopleService" autowire="byName"></bean>

<!-- <bean name ="loggingAspect" class = "com.mphasis.aspect.LoggingAspect"></bean> -->
<!-- <bean name ="loggingAspect2" class = "com.mphasis.aspect.LoggingAspect2"></bean> -->
<!-- <bean name ="loggingAspect3" class = "com.mphasis.aspect.LoggingAspect3"></bean> -->
<bean name ="loggingAspect4" class = "com.mphasis.aspect.LoggingAspect4"></bean>
</beans>